

/* ADMIN PAGE */


.zigwidgetclass-admin h2 { margin:0 0 15px 0; }
.zigwidgetclass-admin p { margin:0 0 15px 0; }
.zigwidgetclass-admin .strong { font-weight:bold; }
.zigwidgetclass-admin .center { text-align:center; }
.zigwidgetclass-admin .right { text-align:right; }
.zigwidgetclass-admin .floatRight { float:right; }
.zigwidgetclass-admin .clearer { height:0px; clear:both; line-height:0px; overflow:hidden; font-size:0; }
.zigwidgetclass-admin .wrap-left { float:left; width:70%; }
.zigwidgetclass-admin .wrap-right { float:right; width:30%; }
.zigwidgetclass-admin .donate form { float:right; text-align:right; width:150px; }
.zigwidgetclass-admin .col-pad { padding-right:15px; }
.zigwidgetclass-admin table.widefat { margin-bottom:15px; width:99%; }
.zigwidgetclass-admin img.icon { vertical-align:middle; margin-bottom:1px; }
.zigwidgetclass-admin img.floatRight { margin-bottom:0; }


/* WIDGET CONTROL PANELS */


.zigwidgetclass-control-wrap a.credit { font-size:9px; line-height:10px; display:block; text-align:right; text-decoration:none; }
.zigwidgetclass-control-wrap a.credit:hover { text-decoration:underline; }


/* EOF */
